// body {
//     max-width: 1140px;
//     margin: 10px auto;
// }
nav {
    max-width: 1140px;
    margin: 10px auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uslugi {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* Secondary/color */

color: #6C757D;
}
.key_b {
    background-color: orange;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    justify-content: space-between;
    width: 110px;
}
.key_img {
    color: white;
    margin-right: 4px;
}
.zal {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 200% */

text-transform: uppercase;

color: #FFFFFF;
}
.addr {
    display: flex;
    background-color: orange;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    width: 159px;
    justify-content: space-between;
}
.tel_img {
    background-color: white;
    box-shadow: 1px 2px 5px;
    padding: 5px;
    border-radius: 15px;
}
.search-box {
    display: flex;
    // background-color: black;
    border: none;
    // width: 180px;
    background: rgb(182, 182, 210);
    // padding: 1px;
    font-size: 16px;
    border-radius: 30px;
    // width: 180px;
    // box-sizing: border-box;
    justify-content: space-between;
    // height: 40px;
.search-txt {
    // width: 180px;
    border-radius: 30px;
    border: none;
    background: rgb(182, 182, 210);
    // display: flex;
    // padding: 10px;
    // font-size: 16px;
    // border-radius: 20px;
}
.search-img {
    background-color: orange;
    padding:17px;
    width: 13px;
    border-radius: 50%;
    height: 13px;
    // align-items: center;
    // box-sizing: border-box;
    // color orange;
    // background: orange;
    // transition: 1s;
}
}
.search-box :hover{
    background-color: rgb(250, 250, 46);
    // width: 200px;
    transition: 1s;
}

.user_b {
    background-color: orange;
    display: flex;
    padding: 15px;
    border-radius: 200px;
    width: 60px;
    justify-content: space-between;
}
.use {
    margin-left: 7px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 16px;
/* or 160% */

text-align: right;

color: #FFFFFF;

}

// .main {
// // background-image: url(train.png);
// max-height: 406px;

// max-width: 1140px;
// background-color: #6C757D;
// margin: 0 auto;
// z-index: 0;
// // justify-content: center;

// // position: absolute;
// // display: none;
// }
.etxtt {
    z-index: 1;
}
.kail {
    box-sizing: border-box;
    // width: 140px;
    height: 500px;
}
main{
    
    height: 600px;
    width: 1140px;
    margin: 0 auto;
    background-image: url(train.png);
}
.zag {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 41px;

color: #FFFFFF;

}
.lorem {
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;

}
.button {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

width: 83px;
color: #FFFFFF;
background-color: #FFA801;
border-radius: 25.5px;
border: solid orange 1px;
padding: 14px 40px;
}
.lorem {
    width: 660px;
height: 68px;
}
.kail {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #6C757D;
}
.m {
    box-sizing: border-box;
    width: 255px;
height: 400px;
margin-right: -50px;
}
.aaa {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 32px;
/* identical to box height */

letter-spacing: 0.13em;

color: #FFFFFF;

}
.aaab {
display: flex;
align-items: center;
justify-content: space-between;
width: 900px;
// justify-content: center;
// background-color: rgb(138, 61, 61);
margin: 0 auto;
}
.abc {
    font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 18.4889px;
line-height: 23px;
// display: flex;
// align-items: center;
// text-align: center;

color: #FFFFFF;

}
.hard {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
z-index: 2;
// background-image: .ichigo;
color: #000000;
position: relative;
right: 50px;
height: 60px;
background-color: white;
}
.saske {
    margin: 20px auto;
    width: 900px;
}
.ichigo {
    position: relative;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: white;
    border: solid orange 8px;
}
.dis {
    display: flex;
    align-items: center;
    
}
.card {
    width: 340px;
    border: solid 2px orange;
    border-radius: 10px;
height: 270px;
// background-color: #6C757D;
z-index: 4;
margin-top: 20px;
// opacity: 0.7;
filter: drop-shadow(0px 4.02975px 25.186px rgba(0, 0, 0, 0.19));
}
.rec {
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}
.ownb {
    // position: relative;
    width: 1200px;
    // background-color: #6C757D;
    margin: 0 auto;
}
.cardb{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cru {
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 1;
}
.crt {
    position: absolute;
    top: 34px;
    left: 34px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;

color: #FFA801;

}
.pod {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
}
.cc {
    background-color: white;
    width: 340px;
    height: 280px;
    box-shadow: 3px 9px 7px;
    // display: none;
    // z-index: 0;
}
.cc :hover{
    opacity: 0.5;
    background-color: orange;
    z-index: 4;
    // box-shadow: 1px 2px 7px;
//     width: 340px;
// height: 270px;
box-sizing: border-box;


.crt {
    align-items: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 28px;
z-index: 5;
box-shadow: none;
line-height: 29px;
text-transform: uppercase;
justify-content: center;
color: #FFFFFF;
opacity: 1;
border: none;
}

}
.ewq {
    display: none;
}
.med {
    display: none;
}
@media(max-width:335px){
    body {
        width: 335px;
    }
    .med {
        display: block;
    }
    .ewq {
        display: block;
    }
   .qwe {
    display: none;
   } 
   .key_b {
    display: none;
   }
   .uslugi {
    display: none;
   }
   .search-box{
    display: none;
   }
   .user_b {
    display: none;
   }
   main {
    width: 335px;
    height: 800px;
   }
//    .nail{
    // font-size: 10px;
//    }
   .zag {
    width: 300px;
    font-size: 20px;
    margin-bottom: -20px;
    // height: 50px;
    // margin-left: 80px
    // margin: 0 auto;
    // justify-content: center;
    
   }
   .nail {
    margin-top: 50px;
    // height: 200px;
   }
   .lorem {
    width: 300px;
    height: 200px;
    // margin-top: 10px;
   }
//    .button{
    // margin-top: 50px;
//    }
.m{
   margin-top: -70px;
   width:100px;
   height: 350px;
}
// .button{
    // margin-top: 50px;
// }
.aaab {
display: block;
}
.aaa {
//    justify-content: center;
width: 200px;
margin: 0 auto;
}
main {
    width: 335px;   
}
}
